/* Reset CSS */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
}

body {
  background-color: #d6dbdc;
  font-size: 16px;
}

main {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#timer-div {
  float: right;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  font-weight: bold;
}

#highscores-div {
  float: left;
  padding: 20px 0;
}


.intro-section {
  margin-top: 50px;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.intro-section h1 {
  font-size: 40px;
}

.intro-section h2 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  line-height: 1.5em;
}

.intro-section span {
  font-size: 30px;
  line-height: 3em;
}

.button-block {
  display: flex;
  flex-direction: column;
}

#quiz-content {
  display: none;
}

.submit-score-section {
  display: none;
}

#initials-field {
  padding: 15px;
  border: darkgray;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 10px;
}


/* LEADERBOARD STYLES */
.leaderboard-container {
  margin-top: 50px;
  margin: auto;
  width: 30%;
  padding: 10px;
  display: none;
}

.score-list {
  list-style: none;
  text-align: left;
}

.score-list-item {
  display: flex;
}

.initials, .score {
  padding: 15px;
  margin: 5px;
  background-color: rgb(90, 165, 90);
  border-radius: 16px;
  border-style: double; 
  border-width: 3px;
  border-color: darkcyan;
  color: white;
  font-size: 20px;
}



/* BUTTON STYLES */
#submit-btn {
  margin: 10px;
  background-color: #4c8caf;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  text-shadow: 1px 1px 1px black;
}

#highscores-btn {
  margin: 10px;
  background-color: #4c8caf;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  text-shadow: 1px 1px 1px black;
}

#start-btn {
  margin: 20px;
  background-color: #4c8caf;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  text-shadow: 1px 1px 1px black;
}

.answer-btn {
  margin: 10px;
  background-color: #4c8caf;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  text-shadow: 1px 1px 1px black;
}